/* 
TODO:
    - round all corners
    - add images to carousel
    - project page
    - clean up all the cluttered styling below 
    - make it also look good on chrome
    - only have the actual descriptions scroll, make header fixed
*/


/* colors */

.solar-yellow {
    color: #b58900;
}

.solar-blue {
    color: #268bd2;
}

.solar-green {
    color: #859900;
}

.solar-red {
    color: #dc322f;
}

.solar-cyan {
    color: #2aa198;
}

.solar-grey {
    color: #8cbccd;
}

.list-indent {
    padding-left: 30px;
}

.d-flex {
    display: flex;
}

.active {
    color: #268bd2 !important;
    font-weight: bold;
}

.height-80 {
    height: 80%;
}

.nav-bar {
    width: 15%;
    position: fixed;
    left: 10%;
    background-color: #002833;
    border-radius: 3em 0 0 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    top: 2%;
    height: 60%;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background:  #b58900;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: #b58900;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: none;  /* creates padding around scroll thumb */
}

body {
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color:  #b58900  #002833;   /* scroll thumb and track */
  }

body {
    margin-top: 1%;
}

.no-bullet {
    list-style-type: none;
}

.text-center {
    text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

p a {
   text-decoration: none;
}

li a:hover {
    font-weight: bold;
    color: #2aa198;
}

.menu {
    margin-top: 3em;
}

#portrait {
	width: 140px;
	height: 140px;
	border-radius: 50%;
}

#portraitFrame {
	text-align: center;
    padding: 15px 9px 9px 9px;
}

#climb-pics-wrapper {
    position: fixed;
    width: 15%;
    right: 10%;
    background-color: #002833;
    border-radius: 0 3em 3em 0;
    bottom: 3%;
    /* height: 60%; */
    height: 57%; /*HACKY*/
    padding-top: 8%; /*HACKY*/
}

#main-wrapper {
    margin: auto;
}

.climb-pics {
    /* height: 70%; */
    width: 70%;
    /* padding-bottom: 1em; */
    margin: auto;
    border-radius: 2em;
}

.climb-pics-frame {
    text-align: center;
    height: 50%;
    padding: 1em;
}

/* #top-pic {
    margin-top: 1em;
}

#bottom-pic {
    margin-top: 1em;
} */

.img-description-wrapper {
    width: 100%;
    /* height: 30%; */
}

.img-description {
    width: 75%;
    margin: auto;
    font-size: .9em;
}

.name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
}

.name-title {
    border-radius: 0px 30px 0px 0px;
    text-align: center;
}

#center-wrapper {
    border-radius: 0 3em 0 3em;
    background-color: #002833;
    padding: 2.5%;
    position: fixed;
    left: 25%;
    right: 25%;
    top: 2%;
    bottom: 3%;
}

.center-content {
    /* padding: 2.5%; */
    /* width: 40%; */
    /* margin: auto; */
    /* margin-left: 29%; */
    /* margin-right: 40%; */
    height: 100%;
    overflow-y: auto;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    color: #8cbccd;
}

footer {
    position: fixed;
    bottom: 4px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.about {
    padding: 2em;
}

.pdf {
    display: block;
    margin: auto;
    margin-top: 1.2em;
}

body {
    margin-top: 1%;
    background-color: #073642;
    font-family: "Consolas", Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}


li a {
    text-align: center;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

.contact {
    margin-top: 3em;
    text-align: center;
}

.subtitle {
    font-weight: bold;
}
    
h1 {
    font-family: "Consolas", Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;    font-size: 24px; 
    font-style: normal; 
    font-variant: normal;
    font-weight: 500 !important;
    text-align: center;
}
/* h3 {
    font-family: Consolas, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
} */
p { 
    font-family: Consolas, Helvetica, sans-serif;
    /* font-size: 14px; */
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
} 
blockquote { 
    font-family: Consolas, Arial, Helvetica, sans-serif;
    /* font-size: 21px; */
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px; }
pre {
    font-family: Consolas, Helvetica, sans-serif;
    /* font-size: 13px; */
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

/* Everything below is for blinking cursor */

.blinking-cursor {
    /* font-weight: 100; */
    font-size: 45px;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}
  
@keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-webkit-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-ms-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-o-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }

